.div-form{
    margin-left: 20px;
}
#login-button {
    margin-left: 95px;
    margin-top: 20px;
    width: 175px;
    height: 30px;
    border-radius: 10%;
    background-color: green;
    color: white;
}
#submit-btn {
    width: 175px;
    height: 30px;
    margin-left: 85px;
    border-radius: 10%;
    background-color: green;
    color: white;
}